__pycache__

# AKÉP configuration + logs
*.local.cfg
*.log
log
akep.cfg

# AKÉP WSGI + directory structure builder
util

# AKÉP View external scripts
ext

# AKÉP View configuration
config.js

# source is in README.md
README.html
